# Formal Verification

[Read more about formal verification as it applies to computer science more generally on Wikipedia.](https://en.wikipedia.org/wiki/Formal_verification)

## Additional Resources

- [What is formal verification, and why is it important for smart contracts? - stackexchange](https://ethereum.stackexchange.com/questions/11092/what-is-formal-verification-and-why-is-it-important-for-smart-contracts)
- [Formal Verification of Ethereum Contracts](https://github.com/pirapira/ethereum-formal-verification-overview)
- [Automated formal verification tool](https://securify.ch/)
